body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
  color: purple;
}

.nav-wrapper {
  background-color:powderblue;
}

footer.page-footer{
  background-color: powderblue;
}

table, th, td {
    border: 1px solid black;
}
.brand-logo {
  color: black;
}